.membres
{
	position: absolute;
	top:30px;
	right:1000px;
	color:red;
	font-family: Comic Sans MS;
	font-size: 2em;
	width: 250px;
	height: 65px;
	text-align: left;
}

.description
{
	position: absolute;
	top:200px;
	right:200px;
	color:red;
	font-family: Verdana;
	font-size: 1em;
	width: 1050px;
	height: 100px;
	text-align: left;
	border: 3px grey solid;
}

.personnes
{
	position: absolute;
	top:320px;
	right:200px;
	color:black;
	font-family: Verdana;
	font-size: 1em;
	width: 1050px;
	height: 280px;
	text-align: left;
	border: 3px grey solid;
}