body 
{
    background-color: white
}

h5
{
	position: absolute;
	top: 160px;
	right: 420px;
}


.reglement
{
	position: absolute;
	top:315px;
	right:580px;
	color:red;
	font-size: 1em;
	border: 3px yellow solid;
	width: 180px;
	height: 40px;
	text-align: center;
	padding-left: 10px;
	padding-bottom: 100px;
	padding-top: 100px;
	padding-right: 10px;
}

.status
{
	position: absolute;
	top:400px;
	right:270px;
	color:red;
	font-size: 2em;
}

.membres
{
	position: absolute;
	top:50px;
	right:800px;
	color:red;
	font-size: 1.5em;
	padding-left: -20px;
	padding-bottom: 150px;
	padding-top: 200px;
	padding-right: -50px;
	border: 3px yellow solid;
	width: 250px;
	height: 150px;
	text-align: center
}

#objectif
{
	


	

