h1
{
	position: absolute;
	top:45px;
	right:260px;
	color:red;
	font-family: Comic Sans MS;
	font-size: 1em;
	border: 3px black solid;
	width: 545px;
	height: 10px;
	text-align: center;
	padding-left: 10px;
	padding-bottom: 100px;
	padding-top: 100px;
	padding-right: 10px;
}

h5
{
	position: absolute;
	top: -15px;
	right: 360px;
}

.status
{
	position: absolute;
	top:285px;
	right:260px;
	color:red;
	background-color: silver;
	font-family: Comic Sans MS;
	font-size: 1em;
	border: 3px grey solid;
	width: 250px;
	height: 65px;
	text-align: center;
	padding-left: 10px;
	padding-bottom: 100px;
	padding-top: 100px;
	padding-right: 10px;
	box-shadow: 3px 3px 3px black;
}
	


.reglement
{
	position: absolute;
	top:285px;
	right:555px;
	color:orange;
	background-color: green;
	font-family: Comic Sans MS;
	font-size: 1em;
	border: 3px line solid;
	width: 250px;
	height: 65px;
	text-align: center;
	padding-left: 10px;
	padding-bottom: 100px;
	padding-top: 100px;
	padding-right: 10px;
	box-shadow: 3px 3px 3px black;
}

.membres
{
	position: absolute;
	top:50px;
	right:850px;
	color:silver;
	font-family: Comic Sans MS;
	background-color: teal;
	font-size: 1em;
	padding-left: -20px;
	padding-bottom: 150px;
	padding-top: 200px;
	padding-right: -50px;
	border: 3px teal solid;
	width: 250px;
	height: 150px;
	text-align: center;
	box-shadow: 3px 3px 3px black;
}

#objectif
{
	position: absolute;
	top:160px;
	right:260px;
	color:black;
	font-size: 1em;
	padding-left: 10px;
	padding-bottom: 75px;
	padding-top: 10px;
	padding-right: 0px;
	border: 3px white solid;
	width: 555px;
	height: 10px;
	text-align: Left;
}

	

