.statuts
{
	position: absolute;
	top:30px;
	right:1000px;
	color:red;
	font-family: Comic Sans MS;
	font-size: 2em;
	width: 250px;
	height: 65px;
	text-align: left;
}

.titre1
{
	position: absolute;
	top:150px;
	right:750px;
	color:red;
	font-family: Comic Sans MS;
	font-size: 1.9em;
	width: 500px;
	height: 65px;
	text-align: left;
	border: 3px black solid;
	text-decoration: underline;
}

.soustitre1
{
	position: absolute;
	top:300px;
	right:750px;
	color:red;
	font-family: Comic Sans MS;
	font-size: 1.4em;
	width: 500px;
	height: 35px;
	text-align: left;
	border: 3px black solid;
}

.description1
{
	position: absolute;
	top:350px;
	right:750px;
	color:red;
	font-family: Comic Sans MS;
	font-size: 1em;
	width: 500px;
	height: 130px;
	text-align: left;
	border: 3px black solid;
}

.soustitre2
{
	position: absolute;
	top:300px;
	right:120px;
	color:red;
	font-family: Comic Sans MS;
	font-size: 1.4em;
	width: 500px;
	height: 35px;
	text-align: left;
	border: 3px black solid;
}

.description2
{
	position: absolute;
	top:350px;
	right:120px;
	color:red;
	font-family: Comic Sans MS;
	font-size: 1em;
	width: 500px;
	height: 380px;
	text-align: left;
	border: 3px black solid;	
}

.soustitre3
{	
	position: absolute;
	top:500px;
	right:750px;
	color:red;
	font-family: Comic Sans MS;
	font-size: 1.4em;
	width: 500px;
	height: 35px;
	text-align: left;
	border: 3px black solid;
}

.description3
{	
	position: absolute;
	top:550px;
	right:750px;
	color:red;
	font-family: Comic Sans MS;
	font-size: 1em;
	width: 500px;
	height: 185px;
	text-align: left;
	border: 3px black solid;
}

.titre2
{	
	position: absolute;
	top:800px;
	right:750px;
	color:red;
	font-family: Comic Sans MS;
	font-size: 1.9em;
	width: 500px;
	height: 65px;
	text-align: left;
	border: 3px black solid;
	text-decoration: underline;
}

.soustitre4
{	
	position: absolute;
	top:950px;
	right:750px;
	color:red;
	font-family: Comic Sans MS;
	font-size: 1.4em;
	width: 500px;
	height: 35px;
	text-align: left;
	border: 3px black solid;
}
	
.description4
{
	position: absolute;
	top:1000px;
	right:750px;
	color:red;
	font-family: Comic Sans MS;
	font-size: 1em;
	width: 500px;
	height: 550px;
	text-align: left;
	border: 3px black solid;
}

.soustitre5
{	
	position: absolute;
	top:950px;
	right:120px;
	color:red;
	font-family: Comic Sans MS;
	font-size: 1.4em;
	width: 500px;
	height: 35px;
	text-align: left;
	border: 3px black solid;
}

.description5
{
	position: absolute;
	top:1000px;
	right:120px;
	color:red;
	font-family: Comic Sans MS;
	font-size: 1em;
	width: 500px;
	height: 260px;
	text-align: left;
	border: 3px black solid;
}

.soustitre6
{	
	position: absolute;
	top:1300px;
	right:120px;
	color:red;
	font-family: Comic Sans MS;
	font-size: 1.4em;
	width: 500px;
	height: 35px;
	text-align: left;
	border: 3px black solid;
}

.description6
{
	position: absolute;
	top:1350px;
	right:120px;
	color:red;
	font-family: Comic Sans MS;
	font-size: 1em;
	width: 500px;
	height: 200px;
	text-align: left;
	border: 3px black solid;
}

.soustitre7
{	
	position: absolute;
	top:1600px;
	right:750px;
	color:red;
	font-family: Comic Sans MS;
	font-size: 1.4em;
	width: 500px;
	height: 35px;
	text-align: left;
	border: 3px black solid;
}

.description7
{
	position: absolute;
	top:1650px;
	right:750px;
	color:red;
	font-family: Comic Sans MS;
	font-size: 1em;
	width: 500px;
	height: 880px;
	text-align: left;
	border: 3px black solid;
}

.description8
{
	position: absolute;
	top:1650px;
	right:120px;
	color:red;
	font-family: Comic Sans MS;
	font-size: 1em;
	width: 500px;
	height: 880px;
	text-align: left;
	border: 3px black solid;
}

.soustitre8
{	
	position: absolute;
	top:2610px;
	right:750px;
	color:red;
	font-family: Comic Sans MS;
	font-size: 1.4em;
	width: 500px;
	height: 75px;
	text-align: left;
	border: 3px black solid;
}

.description9
{
	position: absolute;
	top:2700px;
	right:750px;
	color:red;
	font-family: Comic Sans MS;
	font-size: 1em;
	width: 500px;
	height: 450px;
	text-align: left;
	border: 3px black solid;
}

.description10
{
	position: absolute;
	top:2700px;
	right:120px;
	color:red;
	font-family: Comic Sans MS;
	font-size: 1em;
	width: 500px;
	height: 450px;
	text-align: left;
	border: 3px black solid;
}

.soustitre9
{	
	position: absolute;
	top:3230px;
	right:750px;
	color:red;
	font-family: Comic Sans MS;
	font-size: 1.4em;
	width: 500px;
	height: 75px;
	text-align: left;
	border: 3px black solid;
}

.description11
{
	position: absolute;
	top:3320px;
	right:750px;
	color:red;
	font-family: Comic Sans MS;
	font-size: 1em;
	width: 500px;
	height: 350px;
	text-align: left;
	border: 3px black solid;
}

.soustitre10
{	
	position: absolute;
	top:3230px;
	right:120px;
	color:red;
	font-family: Comic Sans MS;
	font-size: 1.4em;
	width: 500px;
	height: 75px;
	text-align: left;
	border: 3px black solid;
}

.description12
{
	position: absolute;
	top:3320px;
	right:120px;
	color:red;
	font-family: Comic Sans MS;
	font-size: 1em;
	width: 500px;
	height: 120px;
	text-align: left;
	border: 3px black solid;
}

.soustitre11
{	
	position: absolute;
	top:3460px;
	right:120px;
	color:red;
	font-family: Comic Sans MS;
	font-size: 1.4em;
	width: 500px;
	height: 75px;
	text-align: left;
	border: 3px black solid;
}

.description13
{
	position: absolute;
	top:3550px;
	right:120px;
	color:red;
	font-family: Comic Sans MS;
	font-size: 1em;
	width: 500px;
	height: 120px;
	text-align: left;
	border: 3px black solid;
}

.date
{
	position: absolute;
	top:3800px;
	right:120px;
	color:red;
	font-family: Comic Sans MS;
	font-size: 1em;
	width: 500px;
	height: 50px;
	text-align: right;
	border: 3px black solid;