.image_geeko
{
	position: absolute;
	top: -20px;
	right: 360px;
}

.status
{
	position: absolute;
	top:285px;
	right:250px;
	color:black;
	background-color: silver;
	font-style: italic;	
	font-size: 1em;
	border: 3px grey solid;
	width: 250px;
	height: 65px;
	text-align: center;
	padding-left: 10px;
	padding-bottom: 100px;
	padding-top: 100px;
	padding-right: 10px;
	box-shadow: 3px 3px 3px black;
	text-decoration: none;
}
	


.reglement
{
	position: absolute;
	top:285px;
	right:555px;
	color:orange;
	background-color: green;
	font-size: 1em;
	border: 3px line solid;
	width: 250px;
	height: 72px;
	text-align: center;
	padding-left: 10px;
	padding-bottom: 100px;
	padding-top: 100px;
	padding-right: 10px;
	box-shadow: 3px 3px 3px black;
	font-style: italic;
}

.membres
{
	position: absolute;
	top:50px;
	right:850px;
	color:silver;
	background-color: teal;
	font-size: 1em;
	padding-left: -20px;
	padding-bottom: 150px;
	padding-top: 200px;
	padding-right: -50px;
	border: 3px teal solid;
	width: 250px;
	height: 150px;
	text-align: center;
	box-shadow: 3px 3px 3px black;
	font-style: italic;
}

.objectif
{
	position: absolute;
	top:150px;
	right:250px;
	color:black;
	font-size: 1em;
	border: 3px black solid;
	width: 570px;
	height: 100px;
	text-align: Left;
}

	

