.reglement
{
	position: absolute;
	top:30px;
	right:1000px;
	color:red;
	font-family: Comic Sans MS;
	font-size: 2em;
	width: 250px;
	height: 65px;
	text-align: left;
}


.titre1
{
	position: absolute;
	top:140px;
	right:755px;
	color:black;
	font-family: Comic Sans MS;
	font-size: 1em;
	width: 500px;
	height: 65px;
	text-align: left;
	text-decoration:underline;
}

.description1
{
	position: absolute;
	top:200px;
	right:150px;
	color:black;
	font-family: Verdana;
	font-size: 1em;
	width: 1100px;
	height: 170px;
	text-align: left;
	border: 3px grey solid;
}

.titre2
{
	position: absolute;
	top:410px;
	right:850px;
	color:black;
	font-family: Comic Sans MS;
	font-size: 1em;
	width: 400px;
	height: 65px;
	text-align: left;
	text-decoration:underline;
}

.description2
{
	position: absolute;
	top:500px;
	right:150px;
	color:black;
	font-family: Verdana;
	font-size: 1em;
	width: 1100px;
	height: 370px;
	text-align: left;
	border: 3px grey solid;
}

.titre3
{
	position: absolute;
	top:920px;
	right:850px;
	color:black;
	font-family: Comic Sans MS;
	font-size: 1em;
	width: 400px;
	height: 65px;
	text-align: left;
	text-decoration:underline;
}

.description3
{
	position: absolute;
	top:1000px;
	right:750px;
	color:black;
	font-family: Verdana;
	font-size: 1em;
	width: 500px;
	height: 820px;
	text-align: left;
	border: 3px grey solid;
}

.description4
{
	position: absolute;
	top:1000px;
	right:150px;
	color:black;
	font-family: Verdana;
	font-size: 1em;
	width: 500px;
	height: 820px;
	text-align: left;
	border: 3px grey solid;
}




