div {
    width: 155px;
    height: 0px;
    background-color: green;
    position: relative;
    -webkit-animation-name: chgt-couleur; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 20s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -moz-animation-name: chgt-couleur; /* Mozilla */
    -moz-animation-duration: 20s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
    animation-name: chgt-couleur;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/*Pour Chrome, Safari et Opéra*/
@-webkit-keyframes chgt-couleur {
    0% {background-color: green; top: 0px; left: 1335px}
    20% {background-color: yellow; top: 200px; left: 1335px}
	80% {background-color: red; top: 720px; left: 1335px}
    100% {background-color: orange; top: 1130px; left: 1335px}
}


.savoir_plus
{
	position: absolute;
	top:265px;
	right:200px;
	color:black;
	background-color: rgb (49,49,49);
	font-size: 1em;
	border: 3px none solid;
	border-radius: 10px;
	width: 150px;
	height: 30px;
	text-align: center;
	font-family: Bodoni MT;
}

.logo1
{
	position: absolute;
	top: -20px;
	right: 1115px;
	background-attachment: fixed;
}

.image1
{
	position: absolute;
	top: 290px;
	right: 206px;
	background-attachment: fixed;
}

.accueil
{
	position: absolute;
	top:18px;
	right:370px;
	color:white;
	background-color: rgb (49,49,49);
	font-size: 1em;
	padding-left: 5px;
	padding-bottom: 10px;
	padding-top: 20px;
	padding-right: 5px;
	border: 3px none solid;
	border-radius: 10px;
	width: 100px;
	height: 30px;
	text-align: center;
	font-style: Eras Demi ITC;
}

.accueil:hover
{
	text-decoration: none;
	background-color: #002D62;
}

/* .photos */
/* { */
	/* position: absolute; */
	/* top:18px; */
	/* right:365px; */
	/* color:white; */
	/* background-color: rgb (49,49,49); */
	/* font-size: 1em; */
	/* border: 3px none solid; */
	/* border-radius: 10px; */
	/* width: 100px; */
	/* height: 30px; */
	/* text-align: center; */
	/* padding-left: 15px; */
	/* padding-bottom: 25px; */
	/* padding-top: 20px; */
	/* padding-right: 15px; */
	/* font-style: Eras Demi ITC; */
/* } */

.membres
{
	position: absolute;
	top:18px;
	right:215px;
	color:white;
	background-color: rgb (49,49,49);
	font-size: 1em;
	border: 3px none solid;
	border-radius: 10px;
	width: 100px;
	height: 30px;
	text-align: center;
	padding-left: 15px;
	padding-bottom: 25px;
	padding-top: 20px;
	padding-right: 15px;
	font-style: Eras Demi ITC;
}

.representant1
{
	position: absolute;
	top: 760px;
	right: 1060px;
	background-attachment: fixed;
}

.nom1
{
	position: absolute;
	top:870px;
	right:970px;
	color:black;
	font-family: Comic Sans MS;
	font-size: 1em;
	width: 250px;
	height: 65px;
	text-align: left;
}

.description1
{
	position: absolute;
	top:910px;
	right:970px;
	color:black;
	font-family: Comic Sans MS;
	font-size: 0.8em;
	width: 300px;
	height: 65px;
	text-align: center;
}

.representant2
{
	position: absolute;
	top: 750px;
	right: 660px;
	background-attachment: fixed;
}

.nom2
{
	position: absolute;
	top:870px;
	right:540px;
	color:black;
	font-family: Comic Sans MS;
	font-size: 1em;
	width: 250px;
	height: 65px;
	text-align: left;
}

.description2
{
	position: absolute;
	top:910px;
	right:610px;
	color:black;
	font-family: Comic Sans MS;
	font-size: 0.8em;
	width: 250px;
	height: 65px;
	text-align: center;
}

.representant3
{
	position: absolute;
	top: 760px;
	right: 300px;
	background-attachment: fixed;
}


.nom3
{
	position: absolute;
	top:870px;
	right:170px;
	color:black;
	font-family: Comic Sans MS;
	font-size: 1em;
	width: 250px;
	height: 65px;
	text-align: left;
}

.description3
{
	position: absolute;
	top:910px;
	right:270px;
	color:black;
	font-family: Comic Sans MS;
	font-size: 0.8em;
	width: 200px;
	height: 65px;
	text-align: center;
}

.representant4
{
	position: absolute;
	top: 1200px;
	right: 1070px;
	background-attachment: fixed;
}


.nom4
{
	position: absolute;
	top:1320px;
	right:985px;
	color:black;
	font-family: Comic Sans MS;
	font-size: 1em;
	width: 250px;
	height: 65px;
	text-align: left;
}

.description4
{
	position: absolute;
	top:1355px;
	right:1000px;
	color:black;
	font-family: Comic Sans MS;
	font-size: 0.8em;
	width: 250px;
	height: 65px;
	text-align: center;
}

.representant5
{
	position: absolute;
	top: 1200px;
	right: 680px;
	background-attachment: fixed;
}

.nom5
{
	position: absolute;
	top:1320px;
	right:570px;
	color:black;
	font-family: Comic Sans MS;
	font-size: 1em;
	width: 250px;
	height: 65px;
	text-align: left;
}

.description5
{
	position: absolute;
	top:1355px;
	right:630px;
	color:black;
	font-family: Comic Sans MS;
	font-size: 0.8em;
	width: 250px;
	height: 65px;
	text-align: center;
}

.representant6 
{
	position: absolute;
	top: 1200px;
	right: 290px;
	background-attachment: fixed;
}

.nom6
{
	position: absolute;
	top:1320px;
	right:180px;
	color:black;
	font-family: Comic Sans MS;
	font-size: 1em;
	width: 250px;
	height: 65px;
	text-align: left;
}

.description6
{
	position: absolute;
	top:1355px;
	right:235px;
	color:black;
	font-family: Comic Sans MS;
	font-size: 0.8em;
	width: 250px;
	height: 65px;
	text-align: center;
}

.representant7
{
	position: absolute;
	top: 1660px;
	right: 1050px;
	background-attachment: fixed;
}

.nom7
{
	position: absolute;
	top:1780px;
	right:985px;
	color:black;
	font-family: Comic Sans MS;
	font-size: 1em;
	width: 250px;
	height: 65px;
	text-align: left;
}

.description7
{
	position: absolute;
	top:1820px;
	right:1000px;
	color:black;
	font-family: Comic Sans MS;
	font-size: 0.8em;
	width: 250px;
	height: 65px;
	text-align: center;
}


.representant8
{
	position: absolute;
	top: 1660px;
	right: 650px;
	background-attachment: fixed;
}

.nom8
{
	position: absolute;
	top:1780px;
	right:540px;
	color:black;
	font-family: Comic Sans MS;
	font-size: 1em;
	width: 250px;
	height: 65px;
	text-align: left;
}

.description8
{
	position: absolute;
	top:1820px;
	right:600px;
	color:black;
	font-family: Comic Sans MS;
	font-size: 0.8em;
	width: 250px;
	height: 65px;
	text-align: center;
}

.representant9
{
	position: absolute;
	top: 1660px;
	right: 260px;
	background-attachment: fixed;
}

.nom9
{
	position: absolute;
	top:1780px;
	right:180px;
	color:black;
	font-family: Comic Sans MS;
	font-size: 1em;
	width: 250px;
	height: 65px;
	text-align: left;
}

.description9
{
	position: absolute;
	top:1820px;
	right:205px;
	color:black;
	font-family: Comic Sans MS;
	font-size: 0.8em;
	width: 250px;
	height: 65px;
	text-align: center;
}

.cadre
{
	position: absolute;
	top:-20px;
	right:0px;
	color:black;
	font-style: Arial;
	background-color: #007DC3;
	box-shadow: 1px 1px 2px #007DC3;
	width: 1600px;
	height: 20px;
	text-align: left;
	padding-left: 30px;
	padding-bottom: 50px;
	padding-top: 50px;
	padding-right: 30px;
}

.cadre2 
/* petit trait gris */
{
	position: absolute;
	top:3px;
	right:350px;
	color:white;
	background-color: white;
	font-size: 1em;
	border: 0px white solid;
	width: 1px;
	height: 90px;
	text-align: Left;
}

.cadre3
{
	position: absolute;
	top:1100px;
	right:260px;
	background-color: black;
	font-size: 1em;
	border: 0px black solid;
	width: 1000px;
	height: 1px;
	text-align: Left;
}

.cadre4
{
	position: absolute;
	top:1550px;
	right:260px;
	background-color: black;
	font-size: 1em;
	border: 0px black solid;
	width: 1000px;
	height: 1px;
	text-align: Left;
}

.cadre5
{
	position: absolute;
	top:1950px;
	right:0px;
	color:black;
	font-style: Arial;
	background-color: #007DC3;
	box-shadow: 1px 1px 2px #007DC3;
	width: 1600px;
	height: 20px;
	text-align: left;
	padding-left: 30px;
	padding-bottom: 50px;
	padding-top: 50px;
	padding-right: 30px;
	margin-bottom: 0px;
}

.cadre6
/* 2eme petit trait gris */
{
	position: absolute;
	top:3px;
	right:360px;
	color:white;
	background-color: white;
	font-size: 1em;
	border: 0px white solid;
	width: 1px;
	height: 90px;
	text-align: Left;
}

.description
{
	position: absolute;
	top:150px;
	right:200px;
	color:black;
	font-family: Arial Narrow;
	font-size: 1em;
	width: 1050px;
	height: 100px;
	text-align: left;
	background-color: rgb(237,28,36);
	padding-left: 20px;
	padding-bottom: 10px;
	padding-top: 35px;
	padding-right: 20px;
	border: 3px rgb(237,28,36) solid;
	box-shadow: 1px 1px 1px rgb(237,28,36);
}

.personnes
{
	position: absolute;
	top:330px;
	right:150px;
	color:black;
	font-family: Verdana;
	font-size: 1em;
	width: 1050px;
	height: 280px;
	text-align: left;
}