
.button
{
	position: absolute;
	top:2250px;
	right:240px;
	color:white;
	font-size: 1em;
	font-family: Eras Demi ITC;
}

.copyright
{
	position: absolute;
	top:2470px;
	right:80px;
	color:white;
	font-size: 0.9em;
	font-family: Eras Demi ITC;
}


.nom
{
	position: absolute;
	top:2050px;
	right:260px;
	color:black;
	font-size: 1.5em;
	font-family: Eras Demi ITC;
}

.descirption_IUT
{
	position: absolute;
	top:530px;
	right:190px;
	color: rgb(35,35,35);
	font-size: 1em;
	font-family: Tw Cen MT;
	border: 3px none solid;
	background-color: rgb(230,230,230);
	box-shadow: 0px 5px 5px rgb(230,230,230);
	width: 880px;
	height: 65px;
	text-align: left;
	padding-left: 30px;
	padding-bottom: 65px;
	padding-top: 50px;
	padding-right: 30px;
}

.suivi
{
	position: absolute;
	top:2360px;
	right:225px;
	color:white;
	font-size: 1em;
	font-family: Eras Demi ITC;
}

.partenaire
{
	position: absolute;
	top:2370px;
	right:1125px;
	color:white;
	font-size: 1em;
	font-family: Eras Demi ITC;
}

.cadre_gris
/* cadre gris coordonnee */
{
	position: absolute;
	top:1890px;
	right:200px;
	color:black;
	font-style: Arial;
	background-color: rgb(230,230,230);
	box-shadow: 0px 5px 5px rgb(230,230,230);
	width: 310px;
	height: 285px;
	text-align: left;
	padding-left: 30px;
	padding-bottom: 50px;
	padding-top: 50px;
	padding-right: 30px;
}

.journee
{
	position: absolute;
	top: 1890px;
	right: 600px;
	background-attachment: fixed;
}

.avis
{
	position: absolute;
	top:1945px;
	right:300px;
	color:black;
	font-size: 1em;
	font-family: Century Gothic;	
}

.Jaime
{
	position: absolute;
	top:2135px;
	right:430px;
	color:black;
	font-size: 1em;
	font-family: Eras Demi ITC;	
}

.Jaime_pas
{
	position: absolute;
	top:2135px;
	right:270px;
	color:black;
	font-size: 1em;
	font-family: Eras Demi ITC;	
}

.savoir_plus
{
	position: absolute;
	top:1090px;
	right:220px;
	color:white;
	font-size: 1em;
	font-family: Bodoni MT;
}

.savoir_plus2
{
	position: absolute;
	top:1830px;
	right:225px;
	color:black;
	font-size: 1em;
	font-family: Bodoni MT;
}

.ecole
{
	position: absolute;
	top: 1200px;
	right: 201px;
	background-attachment: fixed;
}

.image
{
	position: absolute;
	top: 120px;
	right: 190px;
	background-attachment: fixed;
}

.image2
{
	position: absolute;
	top: -20px;
	right: 950px;
	background-attachment: fixed;
}

.image3
{
	position: absolute;
	top: 730px;
	right: 580px;
	background-attachment: fixed;
}

.logo1
{
	position: absolute;
	top: 2410px;
	right: 1200px;
	background-attachment: fixed;
}

.logo2
{
	position: absolute;
	top: 2410px;
	right: 1090px;
	background-attachment: fixed;
}

.logo3
{
	position: absolute;
	top: 2345px;
	right: 170px;
	background-attachment: fixed;
}

.logo4
{
	position: absolute;
	top: 2410px;
	right: 980px;
	background-attachment: fixed;
}

.logo5
{
	position: absolute;
	top: 2410px;
	right: 910px;
	background-attachment: fixed;
}

.logo6
{
	position: absolute;
	top: 2350px;
	right: 910px;
	background-attachment: fixed;
}

.logo7
{
	position: absolute;
	top: 2350px;
	right: 780px;
	background-attachment: fixed;
}


.image7
{
	position: absolute;
	top: 1140px;
	right: 190px;
	background-attachment: fixed;
}
	
.soutien
{
	position: absolute;
	top:1160px;
	right:190px;
	color:white;
	background-color: rgb(210,210,210);
	font-size: 1.5em;
	border: 3px none solid;
	box-shadow: 1px 1px 1px silver;
	width: 910px;
	height: 30px;
	text-align: center;
	padding-left: 15px;
	padding-bottom: 25px;
	padding-top: 30px;
	padding-right: 15px;
	font-family: Century Gothic;
}

.reglement
{
	position: absolute;
	top:10px;
	right:250px;
	color:silver;
	background-color: rgb (49,49,49);
	font-size: 1em;
	border: 3px none solid;
	border-radius: 10px;
	width: 100px;
	height: 30px;
	text-align: center;
	padding-left: 15px;
	padding-bottom: 25px;
	padding-top: 20px;
	padding-right: 15px;
	font-style: Eras Demi ITC;
}

.reglement:hover
{
	text-decoration: none;
	background-color: #002D62;
}

.membres
{
	position: absolute;
	top:18px;
	right:400px;
	color:silver;
	background-color: rgb (49,49,49);
	font-size: 1em;
	padding-left: 5px;
	padding-bottom: 10px;
	padding-top: 20px;
	padding-right: 5px;
	border: 3px none solid;
	border-radius: 10px;
	width: 100px;
	height: 30px;
	text-align: center;
	font-style: Eras Demi ITC;
}

.membres:hover
{
	text-decoration: none;
	background-color: #002D62;
}

.objectif1
{
	position: absolute;
	top:770px;
	right:315px;
	color:white;
	font-size: 2em;
	font-family: Century Gothic;
	text-align: center;
}

.objectif
{
	position: absolute;
	top:740px;
	right:190px;
	color:white;
	font-size: 1em;
	font-family: Tw Cen MT;
	/* background-color: #007DC3 (bleu claire);    */ 
	/* background-color:#002D62 (bleu foncer); */ 
	background-color: rgb(210,210,166);
	box-shadow: 1px 1px 10px rgb(210,210,166); 
	width: 314px;
	height: 150px;
	text-align: center;
	padding-left: 30px;
	padding-bottom: 90px;
	padding-top: 155px;
	padding-right: 30px;
}

.description_soutien
{
	position: absolute;
	top:1730px;
	right:202px;
	color:rgb(35,35,35);
	background-color: rgb(210,210,210);
	font-size: 1em;
	border: 1px  rgb(210,210,210) solid;
	box-shadow: 1px 1px 10px rgb(210,210,210);
	width: 846px;
	height: 90px;
	text-align: Left;
	padding-left: 30px;
	padding-bottom: 10px;
	padding-top: 30px;
	padding-right: 30px;
	font-family: Tw Cen MT;
}

.cadre
{
	position: absolute;
	top:3px;
	right:390px;
	color:white;
	background-color: black;
	font-size: 1em;
	border: 1px white solid;
	width: 1px;
	height: 90px;
	text-align: Left;
}

.cadre2
/* cadre gris en bas */
{
	margin-bottom: 0px;
	position: absolute;
	top:2310px;
	right:0px;
	color:black;
	font-style: Arial;
	/* background-color: rgb(49,49,49); */
	background-color:rgb(49,49,49);
	box-shadow: 1px 1px 10px 2px silver; 
	width: 1349px;
	height: 180px;
}

.cadre3
 /* petit trait horizontal en bas */
{
	position: absolute;
	top:2000px;
	right:240px;
	color:white;
	background-color: black;
	font-size: 1em;
	border: 0px black solid;
	width: 300px;
	height: 1px;
	text-align: Left;
}

.cadre4
{
	position: absolute;
	top:-20px;
	right:0px;
	color:black;
	font-style: Arial;
	background-color: rgb(49,49,49);
	box-shadow: 1px 1px 2px rgb(49,49,49);
	width: 1345px;
	height: 20px;
	text-align: left;
	padding-left: 30px;
	padding-bottom: 50px;
	padding-top: 50px;
	padding-right: 30px;
}

.cadre5
{
	position: absolute;
	top:845px;
	right:280px;
	border: 1px white solid;
	width: 200px;
	height:0px;
}

.cadre6
{
	position: absolute;
	top:1035px;
	right:280px;
	border: 1px white solid;
	width: 200px;
	height:0px;
}


.cadre7
{
	position: absolute;
	top:-5px;
	right:390px;
	border: 0.5px white solid;
	width: 0px;
	height:80px;
}

.cadre8
 /* 2eme petit trait horizontal en bas */
{
	position: absolute;
	top:2215px;
	right:240px;
	color:white;
	background-color: black;
	font-size: 1em;
	border: 0px black solid;
	width: 300px;
	height: 1px;
	text-align: Left;
}


	

